__pycache__/
*.py[cod]
**/*.pyc
multirun/
outputs/
t4clab/__pycache__/*
plots/
*/checkpoints/*
*/.ipynb_checkpoints/
*.pyc
*/*.pyc
*/__pycache__/*
.ipynb_checkpoints/
t4clab/utils/masks.dict
t4clab/__pycache__/*.pyc
t4clab/__pycache__/*
debug*.png
notebooks/traffic_per_weekday.pt
notebooks/utils/.ipynb_checkpoints/*
cora_subsampling.ipynb_checkpoints